<%= link_to collection, title: wrap(collection.name, 60) do %>
<div class= "col-md-3">
  <div class= "panel panel-default collection-small-info">
    <div class= "panel-heading">
      <%= wrap(collection.name, 16) %>
    </div>
    <div class= "panel-body text-center">
      <%= image_tag("Fireworks/Book5.png", alt: "Collection", size: "140" ) %>
      Last Update <%= time_ago_in_words(collection.updated_at) %> ago.
    </div>
  </div>
</div>
<% end %>
