<%= link_to collection, title: collection.name do %>
<div class= "col-md-3">
  <div class= "panel panel-default">
    <div class= "panel-heading">
      <%= collection_wrap(collection.name, 19) %>
    </div>
    <div class= "panel-body text-center">
      <%= image_tag("Fireworks/Book5.png", alt: "Collection", size: "140" ) %>
      Last Update <%= time_ago_in_words(collection.updated_at) %> ago.
    </div>
  </div>
</div>
<% end %>
