<nav class="navbar navbar-default" role="collection">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
       <li><button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#update-form">Edit</button></li>
    
    </ul>
  </div>
</nav>
