<% provide(:title, @current_collection.name) %>
<div class="row">
  <div class="col-md-3">
    <%= render 'shared/user_info' %>
  </div>
  <div class="col-md-7">
    <%= render 'shared/flash' %>
    <%= render 'collection_info' %>      
  </div>
  <%= render 'shared/advert' %>
</div>
