<% if user_signed_in? or admin_signed_in? %>

  <div class="row text-center">
    <h1>Home page</h1>
    <h2>Welcome to the Home page</h2>
  </div>
<% else %>

  <div class="row">
    <div class="col-md-4 text-center">
    <%= render 'layouts/new_user_form' %>
    </div>
    <div class= "col-md-8">
      <h1>Welcome to Project</h1>

    </div>
  </div>

<% end %>


