<div class="row">
  <div class="col-md-9">
    <h3> Search </h3>
    <% if @users.any? %>
      <ul class= "users">
        <%= render @users %>
      </ul>
      <%= will_paginate @users, param_name: 'users', renderer: BootstrapPagination::Rails, class: "pagination-centered" %>
    <% end %>
  </div>
  <div class="col-md-2">
    Other
  </div>
</div>
