<div class="panel panel-default user_info">
  <div class="panel-body">
    <% @user ||= current_user %>
    <%= link_to gravatar_for(@user, size: 52), @user %>
    <h3>
      <%= link_to @user.username, @user %>
    </h3>
    <span>
      <%= link_to "view my profile", @user %>
    </span>
    <span>
      <%= pluralize(@user.posts.count, "post") %>
    </span>
  </div>
</div>
