<div class="panel panel-default book_info">
  <div class="panel-heading">
    <% if current_user?(@user) %>
      <div class="dropdown pull-right">
        <a href="#" class="menu dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" data-toggle="modal" data-target="#edit-book-form"> Edit </a></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Delete", @current_book, method: :delete,
          	data: { confirm: "This can't be undone, are you sure?"},
            title: @current_book.name %>
          </li>
        </ul>
      </div>
      <%= render 'edit_book_form' %>
    <% end %>
    <h3 class="panel-title"><%= book_wrap(@current_book.name, 60) %></h3>
  </div>
  <div class="panel-body">
    <%= book_wrap(@current_book.description, 60000) %>
  </div>
</div>