<div class="bs-docs-sidebar">
  <ul class="nav bs-docs-sidenav">
    <li>
      <a href="#" data-toggle="modal" data-target="#add-book-form">Add new Book</a>
    </li>
  </ul>
  <%= render "books/add_book_form" %>
</div>