<div class="panel panel-default book_menu" >
  <div class="panel-body">
    <% if current_user?(@user) %>
    <ul class="nav bs-docs-sidenav">
      <li>
        <a href="#" data-toggle="modal" data-target="#add-book-form">Add new Book</a>
      </li>
    </ul>
    <% else %>
      <ul class="nav bs-docs-sidenav">
        <li>Books:</li>
        <%= render @books %>
      </ul>
    <% end %>
  </div> 
  <% if @current_collection.books.any? && current_user?(@user) %>
    <ul class="list-group">
      <li class="list-group-item">
        <ul class="nav bs-docs-sidenav">
          <li>Books:</li>
          <%= render @books %>
        </ul>
      </li>
    </ul>
  <% end %>
  <%= render "books/add_book_form" %>
</div>  