<footer class="footer navbar-fixed-bottom">
  <small>
    <a><%= link_to "Project", root_path %></a>
    by Victor M
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
